<div class="jumbotron">
  <h1 class="display-3" align="center">Send Us Your Address</h1>
  <p class="lead" align="center" >and we'll let you know where you are</p>
  <div class="row">
    <%= simple_form_for @address do |f| %>
      <%= f.input :full_address, label: 'Address', error: 'I am sorry, please try again' %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <div style='width: 100%;' id="maps_wrapper"
     data-pull-from-address="#pull_from_address"
     data-target="map"
     data-set-latitude="#address_latitude"
     data-set-longitude="#address_longitude"
     data-pseudo="#pseudo_map"
     >
  <div id="map" class="map_inside" style='width: 100%; height: 400px; border: solid 1px;'>
    <div class="map-info">Load Map</div>
  </div>
</div>
</div>
